<article class="work-place">
  <header>
    <h4><%= work_place.name %></h4>
    <p class="summary"><%= "#{work_place.position} from #{work_place.start_date} to #{work_place.end_date}" %></p>
  </header>
  <section class="body">
    <p class="description"><%= work_place.description%></p>
  </section>
  <%= link_to "Edit", edit_work_place_path(work_place) %>
  <%= link_to "Delete", work_place_path(work_place), method: :delete %>
</article>
