<article class="comment well">
  <header class="clearfix">
    <div class="picture">
      <%= image_tag(comment.author.profile.picture.url(:thumb), class: "thumb") %>
    </div>
    <div class="info">
      <h6><%= link_to comment.author.name, comment.author %></h6>
      <small><time><%= time_ago_in_words(comment.created_at) %> ago</time></small>
    </div>
  </header>
  <section class="body">
    <%= comment.body %>
  </section>
  <footer class="clearfix">
    <%= render partial: 'likes/like_button', locals: {likable: comment} %>
  </footer>
</article>
