<div class="profile-group">
  <div class="profile-group-header">
    <h2>Basic Information</h2>
  </div>
  <div class="profile-group-body">
    <table class="basic-info-table">
      <tbody>
        <tr>
          <th class="info-label">Birth Date</th>
          <td class="info-data"><%= @user.profile.birth_date %></td>
        </tr>
        <tr>
          <th class="info-label">Gender</th>
          <td class="info-data"><%= @user.profile.gender %></td>
        </tr>
        <tr>
          <th class="info-label">Interested In</th>
          <td class="info-data"><%= @user.profile.interested_in %></td>
        </tr>
        <tr>
          <th class="info-label">Religious Views</th>
          <td class="info-data"><%= @user.profile.religious_views %></td>
        </tr>
        <tr>
          <th class="info-label">Political Views</th>
          <td class="info-data"><%= @user.profile.political_views %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
