<div class="profile-panel clearfix hero-unit">
  <div class="row">
    <div class="span3">
      <%= image_tag @user.profile.picture.url(:medium), class: "medium" %>
    </div>
    <div class="navlinks span6">
      <div class="profile-link">
        <h3><%= link_to @user.name, @user %></h3>
      </div>
    </div>
  </div>
  <div class="navbar">
    <nav>
      <ul class="nav">
        <li><%= link_to "Wall", user_posts_path(@user) %></li>
        <li><%= link_to "Info", user_info_path(@user) %></li>
        <li><%= link_to "Friends", user_friends_path(@user) %></li>
        <% if current_user.id != @user.id %>
          <li>
            <%= render partial: 'users/friendship_button', locals: {user: @user} %>
          </li>
        <% end %>
        <% if @user.has_friend?(current_user) %>
          <li><%= link_to "Message", new_user_conversation_path(@user) %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>
