<article class="post well">
  <header class="clearfix">
    <div class="picture">
      <%= image_tag(post.author.profile.picture.url(:thumb), class: "thumb") %>
    </div>
    <div class="info">
      <h6><%= link_to post.author.name, post.author %></h6>
      <small><time><%= time_ago_in_words(post.created_at) %> ago</time></small>
    </div>
  </header>
  <section class="body">
    <p><%= post.body %></p>
  </section>
  <footer class="clearfix">
    <%= render partial: 'likes/like_button', locals: {likable: post} %>
  </footer>
  <%= render partial: "comments/comments", locals: {comments: post.comments} %>
  <%= render partial: "comments/form", locals: {
        commentable: post,
        comment: Comment.new
      } %>
</article>
